name: Required

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
  pull_request_review:
    types:
      - submitted
      - edited
      - dismissed

jobs:
  required-fail:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: fail
        run: |
          echo "This PR is required. Please review and merge it."
          exit 1
  required-pass:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request_review'
    steps:
      - name: pass
        run: |
          echo "This PR is required. Please review and merge it."
          exit 0
