name: Review Change

on:
  pull_request_review:
    types:
      - submitted
      - edited
      - dismissed
  pull_request:
    types:
      - synchronize

jobs:
  on-review:
    name: Check Required Reviews
    permissions:
      contents: read
      pull-requests: write
      checks: write
      statuses: write
      security-events: write
      id-token: write
      actions: read
      packages: read
    secrets: inherit
    uses: nickjmoss/.github/.github/workflows/on-review.yaml@main
