name: Review

on:
  pull_request_review:
    types:
      - submitted
      - edited
      - dismissed
  pull_request:
    types:
      - synchronize

jobs:
  review:
    name: Check Required Reviews
    uses: nickjmoss/.github/.github/workflows/on-review.yaml
